#scale-container {
    position: absolute;
}

#room-top-view-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

svg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}
line {
    position: relative;
    stroke: black;
    stroke-width: 3;
    cursor: pointer;
}
.line-segment-extremity {
    position: relative;
    z-index: 3;
    fill: red;
    cursor: pointer;
    
}

#cursor-coor-container {
    position: absolute;
    text-align: center;
    z-index: 3;
}
#cursor-coor-text {
    margin-left: -5px;
    font-size: 14px;
}
.cursor-coor-value {
    margin-left: 20px;
    font-size: 14px;
}

form {
    position: absolute;
    text-align: center;
    z-index: 3;
}
mat-form-field {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.extremity-coor-input {
    margin-left: -10px;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.mat-error {
    font-size: 12px;
}

#alignment-button-container {
    position: absolute;
    width: 230px;
    z-index: 4;
}
button {
    display: block;
    margin-top: 7px;
    margin-bottom: 43px;
    font-size: 12px;
}