svg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.line {
    position: relative;
    stroke: cadetblue;
    stroke-width: 3;
    cursor: pointer;
}

/* .line-segment {
    position: relative;
    stroke: black;
    stroke-width: 3;
} */

.line-segment-extremity {
    position: relative;
    fill: black;
}