<div id='history-resize-container' #historyResizeContainerElement>
    <button id='history-display-control-button' mat-icon-button 
        matTooltip='Edit History' matTooltipPosition='after'
        (click)='displayEditHistory()'>
        <mat-icon>menu</mat-icon>
    </button>

    <room-seg-history></room-seg-history>
</div>

<div id='display-resize-container' #displayResizeContainerElement>
    <room-seg-display #displayElement 
        [canvasSideLength]='canvasSideLength' [imgSrc]='imgSrc' (roomImgScale)='getRoomImgScale($event)'
        [lineSet]='lineSet' [lineSetToDisplay]='lineSetToDisplay'
        [processInfo]='processInfo' (forceUpdate)='forceUpdate()' [updateTriggerer]='updateTriggerer' 
        (lineAddProcessControl)='lineAddProcessControl($event)' (lineEditProcessControl)='lineEditProcess(false, $event)' 
        (editResult)='updateLineSet($event)'>
    </room-seg-display>

    <div *ngIf="!(processInfo[0] === 'add')">
        <div id='display-resize-container-bottom' (mousedown)="resizeContainerControl($event, true, 'bottom')" (mouseup)="resizeContainerControl($event, false, 'bottom')"></div>
        <div id='display-resize-container-right' (mousedown)="resizeContainerControl($event, true, 'right')" (mouseup)="resizeContainerControl($event, false, 'right')"></div>
    </div>
</div>

<div id='action-button-container' #actionBtnContainerElement>
    <button mat-stroked-button (click)='toggleBetweenLineSegmentsAndLines()'>Segment/Extended</button>
    <button mat-stroked-button (click)='lineAddProcess(false, -1)' [disabled]="!(processInfo[0] === '')">Add a Segmentation Line</button>
    <button mat-stroked-button (click)='lineRemoveProcess(false)' [disabled]="!(processInfo[0] === '')">Remove Segmentation Lines</button>
    <button mat-stroked-button (click)='completeSegmentation()' [disabled]="!(processInfo[0] === '')">Confirm Result</button>
</div>

<div id='process-button-container' #processBtnContainerElement>
    <div *ngIf="!(processInfo[0] === '')">
        <button mat-stroked-button (click)='processControl(true)' [disabled]='!(processCanConfirm)'>Confirm Edit</button>
        <button mat-stroked-button (click)='processControl(false)'>Cancel Edit</button>
    </div>
</div>