#history-resize-container {
    position: absolute;
    height: 100%;
}
#history-display-control-button {
    position: absolute;
    top: 0;
    margin: auto;
    line-height: 1;
}

#display-resize-container {
    position: absolute;
    background-color: cadetblue;
}
#display-resize-container-bottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 5px;
    height: 10px;
    z-index: 3;
    background-color: transparent;
    opacity: .5;
    cursor: s-resize;
}
#display-resize-container-right {
    position: absolute;
    top: 0;
    bottom: 5px;
    right: -5px;
    width: 10px;
    z-index: 3;
    background-color: transparent;
    opacity: .5;
    cursor: e-resize;
}

room-seg-display {
    user-select: none;
}

#action-button-container {
    position: absolute;
    width: 230px;
}
#process-button-container {
    position: absolute;
    width: 230px;
}
button {
    display: block;
    margin-bottom: 10px;
}