#history-resize-container {
    position: absolute;
    height: 100%;
}
#history-display-control-button {
    position: absolute;
    top: 0;
    margin: auto;
    line-height: 1;
}
/deep/.mat-tooltip {
    font-size: 12px;
}
room-seg-history {
    position: absolute;
    top: 40px;
    width: 100%;
    user-select: none;
}
#history-resize-container-right {
    position: absolute;
    right: -5px;
    height: 100%;
    width: 10px;
    z-index: 3;
    background-color: transparent;
    opacity: .5;
    cursor: e-resize;
}

#display-resize-container {
    position: absolute;
    border: 1px solid black;
}
#display-resize-container-bottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 5px;
    height: 10px;
    z-index: 3;
    background-color: transparent;
    opacity: .5;
    cursor: s-resize;
}
#display-resize-container-right {
    position: absolute;
    top: 0;
    bottom: 5px;
    right: -5px;
    width: 10px;
    z-index: 3;
    background-color: transparent;
    opacity: .5;
    cursor: e-resize;
}

room-seg-display {
    user-select: none;
}

#action-button-container {
    position: absolute;
    width: 230px;
}
#process-button-container {
    position: absolute;
    width: 230px;
}
button {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}