<div id='room-seg-ui'>
    <div id='container'>
        <div id='dim-container' #dimContainer>
            <img id='room-top-view-image' #roomTopViewImage [src]='imageSrc' (load)='roomImgOnLoad()'>
            <svg>
                <line class='line' #line 
                    *ngFor='let line of extendedLinesets; let elementIndex = index;' 
                    [attr.x1]='line[0]' [attr.y1]='line[1]' [attr.x2]='line[2]' [attr.y2]='line[3]' 
                    (mouseover)='showExtremities(elementIndex)' (mouseout)='showExtremities(-1)'
                    (click)='moveSegLine(elementIndex)'
                />
                <circle class='line-segment-extremity' *ngIf='extremities[0]' [attr.cx]='extremities[0]' [attr.cy]='extremities[1]' r='3'/>
                <circle class='line-segment-extremity' *ngIf='extremities[0]' [attr.cx]='extremities[2]' [attr.cy]='extremities[3]' r='3'/>
            </svg>
        </div>
    </div>

    <!-- <div id='buttonMenu'>
        <button id='seg-add' (click)='segAdd()'>Add a Segmentation Line</button>
        <button id='seg-remove' (click)='segRemove()'>Remove Segmentation Lines</button>
        <button id='seg-confirm' (click)='segConfirm()'>Confirm Result</button>
    </div> -->
</div>
