#room-seg-ui {
    position: relative;
    height: 100%;
    width: 100%;
}

#container {
    display: block;
    position: relative;
    top: 10%;
    height: 80%;
    width: 60%;
    margin: auto;
}

#room-top-view-image {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

#buttonMenu {
    position: absolute;
    top: 10%;
}

button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}