#room-seg-display-container {
    margin: 10px;
    margin-bottom: 0;
    user-select: none;
}
p {
    margin-top: 4px;
    margin-bottom: 8px;
    height: 16px;
    font-size: small;
    z-index: 3;
}

#button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container {
    margin-left: 10px;
    margin-right: 10px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.auto-align-button {
    margin-top: 38px;
    height: 38px;
}
