table {
    width: 100%;
}
.mat-column {
    text-align: center;
}
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 12px;
  }
.mat-row:hover .mat-cell {
    border-color: black;
}